/*.navbar-toggler.collapsed {

}*/

.logo[b-er55dr8p4s] {
    width: 105px;
    margin-left: 1.5rem;
}

.nav-item[b-er55dr8p4s] {
    font-size: 1.5rem;
    margin-left: 3.5rem;
}

.nav-item[b-er55dr8p4s]  .nav-link.active {
    text-decoration: underline;
}