@page "/access-denied"
@rendermode InteractiveServer

<PageTitle>Доступ запрещён</PageTitle>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="text-center">
				<img src="/logo.png" style="max-height:5rem" />
			</div>
			<div class="text-center mt-2">
				<span class="text-danger fw-bolder">У вас нет разрешения просматривать эту страницу</span>
			</div>
		</div>
	</div>
</div>