@using Microsoft.AspNetCore.Authorization
@using BlazorBootstrap
@using MudBlazor

@page "/"
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Employee,HeadOfDepartment,HR,Admin")]

<PageTitle>Отпуска</PageTitle>

<h1>ОТПУСКА</h1>