@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.7t9tbfaemk.bundle.scp.css';

/* _content/VacationAccountingSystem/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-f85n1b18qt] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content[b-f85n1b18qt] {
    flex: 1;
    flex-direction: column;
}

.navbar[b-f85n1b18qt] {
    background-color: #ffd800;
}

#blazor-error-ui[b-f85n1b18qt] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss[b-f85n1b18qt] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
/* _content/VacationAccountingSystem/Components/Layout/NavMenu.razor.rz.scp.css */
/*.navbar-toggler.collapsed {

}*/

.navbar.navbar-expand-md[b-er55dr8p4s] {
    flex:1;
}

.logo[b-er55dr8p4s] {
    width: 105px;
    margin-left: 1.5rem;
}

.nav-item[b-er55dr8p4s] {
    font-size: 1.5rem;
    margin-left: 3.5rem;
}

.nav-item[b-er55dr8p4s]  .nav-link.active {
    text-decoration: underline;
}

.log-button[b-er55dr8p4s] {
    font-size-adjust: 0.85;
    position: absolute;
    right: 5rem;
}
/* _content/VacationAccountingSystem/Components/Pages/Import.razor.rz.scp.css */
.d-grid.gap-5[b-ij0szhk27t] {
    max-width: fit-content;
}

label.upload[b-ij0szhk27t] {
    background-color: gray;
    color: white;
    font-size:x-large;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

