/*.navbar-toggler.collapsed {

}*/

.navbar.navbar-expand-md[b-er55dr8p4s] {
    flex:1;
}

.logo[b-er55dr8p4s] {
    width: 105px;
    margin-left: 1.5rem;
}

.nav-item[b-er55dr8p4s] {
    font-size: 1.5rem;
    margin-left: 3.5rem;
}

.nav-item[b-er55dr8p4s]  .nav-link.active {
    text-decoration: underline;
}

.log-button[b-er55dr8p4s] {
    font-size-adjust: 0.85;
    position: absolute;
    right: 5rem;
}