@inherits LayoutComponentBase  

<div class="page">
    <MudThemeProvider/>
    <MudPopoverProvider/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>
    <div class="navbar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Возникла неизвестная ошибка
    <a href="" class="reload">Перезагрузить страницу</a>
    <a class="dismiss">🗙</a>
</div>
