@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@inject VacationDbContext vacationDbContext
@inject NavigationManager navigationManager

<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <img class="logo" src="/logo.png">
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <AuthorizeView Context="auth_context">
            <Authorized>
                <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">

                        @* <div>@username</div> *@

                        <AuthorizeView Roles="Employee,HeadOfDepartment,HR,Admin">
                            <Authorized>
                                <li class="nav-item">
                                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                        <span class="oi oi-home" aria-hidden="true"></span> Отпуска
                                    </NavLink>
                                </li>
                            </Authorized>
                        </AuthorizeView>

                        <AuthorizeView Roles="HR,Admin">
                            <Authorized>
                                <li class="nav-item">
                                    <NavLink class="nav-link" href="import">
                                        <span class="oi oi-plus" aria-hidden="true"></span> Импорт
                                    </NavLink>
                                </li>
                            </Authorized>
                        </AuthorizeView>

                        <AuthorizeView Roles="HR,Admin">
                            <Authorized>
                                <li class="nav-item">
                                    <NavLink class="nav-link" href="reports">
                                        <span class="oi oi-list-rich" aria-hidden="true"></span> Отчёты
                                    </NavLink>
                                </li>
                            </Authorized>
                        </AuthorizeView>

                        <AuthorizeView Roles="HR,Admin">
                            <Authorized>
                                <li class="nav-item">
                                    <NavLink class="nav-link" href="info">
                                        <span class="oi oi-list-rich" aria-hidden="true"></span> НСИ
                                    </NavLink>
                                </li>
                            </Authorized>
                        </AuthorizeView>
                    </ul>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView>
            <NotAuthorized>
                <a class="log-button" href="/login">ВОЙТИ</a>
            </NotAuthorized>
            <Authorized>
                <a class="log-button" href="/logout">ВЫЙТИ</a>
            </Authorized>
        </AuthorizeView>
    </div>
</nav>

@code {
    // [CascadingParameter]
    // public HttpContext? HttpContext { get; set; }

    // public string? username { get; set; }

    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;


    protected override Task OnParametersSetAsync()
    {
        // if (HttpContext is not null)
        // {

        //     if (HttpContext.User.Identity.IsAuthenticated)
        //         username ??= HttpContext.User.Identity.IsAuthenticated.ToString();
        // }

        return base.OnParametersSetAsync();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
