/*.navbar-toggler.collapsed {

}*/

.navbar.navbar-expand-md {
    flex:1;
}

.logo {
    width: 105px;
    margin-left: 1.5rem;
}

.nav-item {
    font-size: 1.5rem;
    margin-left: 3.5rem;
}

.nav-item ::deep .nav-link.active {
    text-decoration: underline;
}

.log-button {
    font-size-adjust: 0.85;
    position: absolute;
    right: 5rem;
}